<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pia_users?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping class="entities.Testsurvey"/>
    <mapping class="entities.User"/>
    <mapping class="entities.Question"/>
    <mapping class="entities.TSQRelation"/>
    <mapping class="entities.Answer"/>
    <mapping class="entities.UserAnswer"/>
    <mapping class="entities.TestsurveyResult"/>
  </session-factory>
</hibernate-configuration>
